main {background-color:lightyellow;
     padding: 20px;}
h1 {color:gray;}
h2 {color:lightgray}
li {font-size: 26px;}
ol li:first-child { font-weight: bold;}
ol li:last-child {font-weight: bold;}
ul li:first-child { font-weight: bold;}
ul li:last-child { font-weight: bold;}
header a {text-decoration: none}
a:hover {font-weight: bolder;}